.all1 {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}


.boxItem {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80px;
  font-weight: bold;
  border-radius: 3px;
  overflow: hidden;
  transition: .25s;
  margin-top: 15px;
}

.boxItem:hover {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.70);
  opacity: 0.8;
}






.supremeBox{
height: 300px;
width: 100px;;

}
.supremePhoto{
  height: 300px;
  width: 300px;
}
.bapeBox{
  height: 300px;
  width: 100px;
}
.bapePhoto{
  height: 300px;
  width: 300px;;
}
.FOGBox{
  height: 300px;
  width: 100px;
  
  }
  .FOGPhoto{
      height: 300px;
      width: 300px;
  }
  .zanerobe{
      
      border: 1px solid lightgrey;
      
      }
      .palacePhoto{
          height: 300px;
          width: 300px;
      }
      .offWhiteBox{
          height: 300px;
          width: 100px;
         
          }
          .offWhitePhoto{
              height: 300px;
              width: 300px;
          }