@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css'); 

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 95%;
    color: black;
    align-items: center;
     
}
.logo{
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0 0 0 75px;
    
}
.logo:hover{
 color: black;
}

.cartandmenu ul{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    font-family: 'Open Sans Condensed', sans-serif; 
    list-style-type: none;
    margin: 0;
    padding:0;

}


.cartandmenu li {
    padding:0 15px;
}


.menu{
    height: 17px;
    width: 15px;
    z-index:2;
}
